{% extends 'base.html' %}

{% block content %}

<br><div class="mx-auto text-center text-dark mb-4">
    <h3 style="font-weight: 800;">Incident Reports Awaiting Review</h3>
</div>

<br><div class="card mx-auto" style="width: 76rem; background-color:rgb(201, 206, 238)">
 
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    
                    <th scope="col">Subject</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Reporter</th>
                    <th scope="col">Status</th>
                    <th scope="col">More Details</th>
                </tr>
            </thead>
            <tbody>
                {% for report in incident_report %}
                <tr>
                    
                    <td><small>{{report.subject}}</small></td>
                    <td><small>{{report.date_created}}</small></td>
                    <td>{{report.reporter}}</td>
                    {% if report.incident_status == 'In-Progress' %}
                    <td><span class="badge bg-success">In-Progress</span></td>
                    {% elif report.incident_status == 'Pending' %}
                    <td><span class="badge bg-warning">Pending</span></td>
                    {% elif report.incident_status == 'Completed' %}
                    <td><span class="badge bg-danger">Completed</span></td>
                    {% endif %}
                    <td><small><a href="{% url 'accept-incident-report' report.pk %}">Accept</a></small></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>

    </div>
</div>

{% endblock content %}