{% extends 'base.html' %}

{% block content %}

<br><div class="mx-auto text-center text-dark mb-4">
    <h3 style="font-weight: 800;">Access Request Details</h3>
</div>

<div class="container d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col-md-6">
            <div class="card mx-auto" style="width: 40rem;">
                <div class="card-body">
                    <h4 class="card-title mb-3 text-primary">{{access_request.visitor_name}}</h4>
                    <table class="table">
                        <tr>
                            <th>Access Code:</th>
                            <td><h5 style="font-weight: 800; color: rgb(227, 9, 20);">{{access_request.access_code}}</h5></td>
                        </tr>
                        <tr>
                            <th>Gender:</th>
                            <td>{{access_request.gender}}</td>
                        </tr>
                        <tr>
                            <th>Vehicle Registration:</th>
                            <td>{{access_request.vehicle_registration}}</td>
                        </tr>
                        <tr>
                            <th>Additional Information:</th>
                            <td>{{access_request.additional_information}}</td>
                        </tr>
                        <tr>
                            <th>Date created:</th>
                            <td>{{access_request.date_created}}</td>
                        </tr>
                        <tr>
                            <th>Assigned To:</th>
                            <td>{{access_request.assigned_to}}</td>
                        </tr>
                        <tr>
                            <th>Resolved?</th>
                            <td>
                                {% if access_request.is_resolved %}
                                <span class="badge bg-danger">Yes</span>
                                {% else %}
                                <span class="badge bg-success">No</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Accepted Date:</th>
                            <td><small>{{access_request.accepted_date}}</small></td>
                        </tr>
                        <tr>
                            <th>Created By:</th>
                            <td><small>{{access_request.creator}}</small></td>
                        </tr>
                        <tr>
                            <th>Request Status:</th>
                            <td><small>{{access_request.request_status}}</small></td>
                        </tr>
                        
                    </table>
                    <br>
                        {% if request.user.is_security and not access_request.is_resolved %}
                        <a href="#" class="btn btn-danger mb-3 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirm Resolution</a>
                        {% endif %}

                        {% if request.user.is_resident and not access_request.is_resolved %}
                        <a href="{% url 'update-access-request' access_request.pk %}" class="btn btn-dark mb-3 w-100">Update Request</a>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to close this request?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'close-access-request' access_request.pk %}" class="btn btn-primary">Save changes</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}