{% extends 'base.html' %}

{% block content %}

{% if request.user.is_resident %}

<!-- Showcase -->
<section class="bg-primary-subtle p-5 p-lg-0 text-center text-dark text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Neigbourhood <span class="text-danger">Connect</span></h1>
                <p class="lead my-4">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged.
                </p>
                <button class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#contact">Contact Us</button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="/media/item_images/showcase.png" alt="" />
        </div>
    </div>

</section>


<!-- Boxes -->
<section class="p-5">
    <div class="container">
        <h1>News & Events</h1><br>
        <div class="row text-center g-4">
            
            {% for item in items %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}"
                        style="max-width: 100%; max-height: 300px;">
                    {% else %}
                    <div class="card-img-top bg-secondary text-white text-center py-3">
                        No Image Available
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <a href="{% url 'item-details' item.id %}" class="btn btn-outline-dark mt-3">
                            <i class="bi bi-chevron-right"></i> Read More
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>

</section>




<!-- Boxes -->
<section class="p-5">
    <div class="container">
        <h1>EMS is a powerful tool for...</h1><br>
        <div class="row text-center g-4">
            <div class="col-md-4">
                <div class="card mb-4">
                    <h5 class="card-title">Effective Management</h5>
                    <div class="card-body">  
                        <div>
                            Effective management of a property system is essential for optimizing operational efficiency, 
                            enhancing tenant satisfaction, and maximizing property value. 
                            By implementing strategic planning, streamlined communication channels, 
                            and proactive maintenance protocols, our property management system aims 
                            to deliver seamless experiences for both property owners and tenants.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <h5 class="card-title">Enhancing Security</h5>
                    <div class="card-body">
                        <div>
                            Implementing a comprehensive security strategy is paramount to safeguarding our property 
                            and ensuring the well-being of its occupants. By integrating advanced technological solutions, 
                            robust access controls, and proactive surveillance measures, we aim to enhance the overall security posture of our property, 
                            fostering a secure and resilient environment for everyone within its confines.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <h5 class="card-title">Efficent Operations and Services</h5>
                    <div class="card-body">  
                        <div>
                            Efficient operations and services are the cornerstone of our property management approach.
                            We prioritize streamlined processes to enhance the overall functionality of our properties, 
                            ensuring a seamless experience for residents and stakeholders. 
                            From meticulous maintenance and responsive services to innovative solutions, 
                            our commitment to efficiency elevates.
                        </div>
                    </div>
                </div>
            </div>

           
        </div>

    </div>

</section>



<!-- Footer -->

<footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
        <p class="lead">Copyright &copy; 2023 EMS</p>
        <a class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>

</footer>>

<!-- Contact Us -->
<div class="modal fade" id="contact" tabindex="-1" aria-labelledby="contactLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactModalLabel">Management Contact Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Email: <span class="text-success">management@googlemail.com</span>
          <br>Phone Number: <span class="text-success">0133136678</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>



{% elif request.user.is_security %}

<!-- Showcase -->
<section class="bg-primary-subtle p-5 p-lg-0 text-center text-dark text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Neigbourhood <span class="text-danger">Connect</span></h1>
                <p class="lead my-4">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged.
                </p>
                <button class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#contact">Contact Us</button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="/media/item_images/showcase.png" alt="" />
        </div>
    </div>

</section>



<!-- Boxes -->
<section class="p-5">
    <div class="container">
        <h1>News and Events</h1><br>
        <div class="row text-center g-4">
            
            {% for item in items %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}"
                        style="max-width: 100%; max-height: 300px;">
                    {% else %}
                    <div class="card-img-top bg-secondary text-white text-center py-3">
                        No Image Available
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <a href="{% url 'item-details' item.id %}" class="btn btn-outline-dark mt-3">
                            <i class="bi bi-chevron-right"></i> Read More
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>

</section>


<!-- Boxes -->
<section class="p-5">
    <div class="container">
        <h1>EMS is a powerful tool for...</h1><br>
        <div class="row text-center g-4">
            <div class="col-md-4">
                <div class="card mb-4">
                    <h5 class="card-title">Effective Management</h5>
                    <div class="card-body">  
                        <div>
                            Effective management of a property system is essential for optimizing operational efficiency, 
                            enhancing tenant satisfaction, and maximizing property value. 
                            By implementing strategic planning, streamlined communication channels, 
                            and proactive maintenance protocols, our property management system aims 
                            to deliver seamless experiences for both property owners and tenants.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <h5 class="card-title">Enhancing Security</h5>
                    <div class="card-body">
                        <div>
                            Implementing a comprehensive security strategy is paramount to safeguarding our property 
                            and ensuring the well-being of its occupants. By integrating advanced technological solutions, 
                            robust access controls, and proactive surveillance measures, we aim to enhance the overall security posture of our property, 
                            fostering a secure and resilient environment for everyone within its confines.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <h5 class="card-title">Efficent Operations and Services</h5>
                    <div class="card-body">  
                        <div>
                            Efficient operations and services are the cornerstone of our property management approach.
                            We prioritize streamlined processes to enhance the overall functionality of our properties, 
                            ensuring a seamless experience for residents and stakeholders. 
                            From meticulous maintenance and responsive services to innovative solutions, 
                            our commitment to efficiency elevates the quality of living and working spaces within our properties.
                        </div>
                    </div>
                </div>
            </div>

           
        </div>

    </div>

</section>



<!-- Footer -->

<footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
        <p class="lead">Copyright &copy; 2023 EMS</p>
        <a class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>

</footer>>

<!-- Contact Us -->
<div class="modal fade" id="contact" tabindex="-1" aria-labelledby="contactLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactModalLabel">Management Contact Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Email: <span class="text-success">management@googlemail.com</span>
          <br>Phone Number: <span class="text-success">0133136678</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>



{% elif request.user.is_management %}

<!-- Showcase -->
<section class="bg-primary-subtle p-5 p-lg-0 text-center text-dark text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Neigbourhood <span class="text-danger">Connect</span></h1>
                <p class="lead my-4">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged.
                </p>
                <button class="btn btn-outline-dark btn-lg" data-bs-toggle="modal" data-bs-target="#contact">Contact Us</button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="/media/item_images/showcase.png" alt="" />
        </div>
    </div>

</section>



<!-- Boxes -->
<section class="p-5">
    <div class="container">
        <h1>News and Events</h1><br>
        <div class="row text-center g-4">
            
            {% for item in items %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}"
                        style="max-width: 100%; max-height: 300px;">
                    {% else %}
                    <div class="card-img-top bg-secondary text-white text-center py-3">
                        No Image Available
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <a href="{% url 'item-details' item.id %}" class="btn btn-outline-dark mt-3">
                            <i class="bi bi-chevron-right"></i> Read More
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>

</section>



<!-- Boxes -->
<section class="p-5">
    <div class="container">
        <h1>EMS is a powerful tool for...</h1><br>
        <div class="row text-center g-4">
            <div class="col-md-4">
                <div class="card mb-4">
                    <h5 class="card-title">Effective Management</h5>
                    <div class="card-body">  
                        <div>
                            Effective management of a property system is essential for optimizing operational efficiency, 
                            enhancing tenant satisfaction, and maximizing property value. 
                            By implementing strategic planning, streamlined communication channels, 
                            and proactive maintenance protocols, our property management system aims 
                            to deliver seamless experiences for both property owners and tenants.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <h5 class="card-title">Enhancing Security</h5>
                    <div class="card-body">
                        <div>
                            Implementing a comprehensive security strategy is paramount to safeguarding our property 
                            and ensuring the well-being of its occupants. By integrating advanced technological solutions, 
                            robust access controls, and proactive surveillance measures, we aim to enhance the overall security posture of our property, 
                            fostering a secure and resilient environment for everyone within its confines.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <h5 class="card-title">Efficent Operations and Services</h5>
                    <div class="card-body">  
                        <div>
                            Efficient operations and services are the cornerstone of our property management approach.
                            We prioritize streamlined processes to enhance the overall functionality of our properties, 
                            ensuring a seamless experience for residents and stakeholders. 
                            From meticulous maintenance and responsive services to innovative solutions, 
                            our commitment to efficiency elevates the quality of living and working spaces within our properties.
                        </div>
                    </div>
                </div>
            </div>

           
        </div>

    </div>

</section>





<!-- Footer -->

<footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
        <p class="lead">Copyright &copy; 2023 EMS</p>
        <a class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>

</footer>>

<!-- Contact Us -->
<div class="modal fade" id="contact" tabindex="-1" aria-labelledby="contactLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactModalLabel">Management Contact Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Email: <span class="text-warning">management@googlemail.com</span>
          <br>Phone Number: <span class="text-warning">0133136678</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>


{% endif %}

{% endblock content %}